<form class="{{cssClass}}" autocomplete="off">
    {{log "Rolemaster Classic | Stats Generation Dialog" this}}
    <header class="sheet-header"></header>
    <section class="sheet-body">
    </section>
</form>